body{
    font-size: 20px;
    background-color: azure;
}

table,
tbody,
tr,
th,
td {
  border: 5px solid black;
  height: 80%;
  width: 60%;
}

*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./assets/cows.jpg);
    height: 100vh;
    background-size: cover ;
    background-position: center;
}


ul li.active a{
    background-color: palevioletred;
    color: wheat;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    padding: initial;
}


ul li{
    display: inline-block;
    
}


ul li a{
    text-decoration: solid;
    color: tomato;
    padding: 5px 20px;
    border: 1px solid wheat;
    transition: unset;
}


ul li a:hover{
    background-color: lightslategray;
    color: wheat;
}

.logo2 img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.title h1{
    color: red;
    font-size: 50px;
    
}

.button{
    color: violet;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid red;
    padding: 10px 30px;
    color: violet;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    color: seagreen;
    background-color: darkkhaki;
}


.hrd{
    height: 100px;
}

.cow{
  font-size: 100px;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/4919741/pexels-photo-4919741.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 100vh;
  padding-bottom: 50px; 
}

.actions{
    justify-content: space-between;
    padding: 20px 5px;
}


.header{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: green;
    text-decoration-line: underline;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



#results{
    height: 20%;
    background-color: aqua;
}