body{
    font-size: 20px;
    background-color: azure;
}

table,
tbody,
tr,
th,
td {
  border: 5px solid black;
  height: 80%;
  width: 60%;
}

.cow{
  font-size: 100px;
  background-image: url(./assets/cows.jpg);
  height: 100vh;
  padding-bottom: 50px;
}

.actions{
    justify-content: space-between;
}

.header{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: green;
    text-decoration-line: underline;
}

#results{
    height: 20%;
    background-color: aqua;
}